<nav>
    <ul>
        <li><a href="\">Home</a></li>
        <li><a href="\SearchPage">Search</a></li>
        <li><a href="\OrdersTable">Orders</a></li>
        <li><a href="\ModelsTable">Models</a></li>
        <li><a href="\PartsTable">Parts</a></li>
        <li><a href="\PartRequirementsTable">Part Requirements</a></li>
        <li><a href="\TrimlinesTable">Trimlines</a></li>
        <li><a href="\ColorsTable">Colors</a></li>
        <li><a href="\TrimlineColorsTable">Trimline&lt;-&gt;Color</a></li>
    </ul>
</nav>
