<br/>
<p>Colors</p>
<br/>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Purple</td>
            <td><button type="button" onclick="editPlaceholder();">Edit</button></td>
            <td><button type="button" onclick="deletePlaceholder();">Delete</button></td>
        </tr>
    </tbody>
</table>
</br>
</br>
<button type="button" onclick="savePlaceholder();">Save Changes</button>
