<p>Subpages:</p>
<br/>
<ul>
    <b>Draft 5:</b>
    <li><a href="/ModelsTable">Models</a></li>
    <li><a href="/TrimlinesTable">Trimlines</a></li>
    <li><a href="/ColorsTable">Colors</a></li>
    <li><a href="/PartsTable">Parts</a></li>
    <li><a href="/PartRequirementsTable">Part Requirements</a></li>
    <li><a href="/OrdersTable">Orders</a></li>
    <li><a href="/Search">Search</a></li>
</ul>
<i>Note for reviewers: Colors page has full CRUD functionality</i>
