<p>Subpages:</p>
<br/>
<ul>
    <b>Draft 4 New Stuff:</b>
    <li><a href="/CRUDDemo">Dynamic CRUD Table Demo</a></li>
    <li><a href="/Search">Search</a></li>
    <br>
    <br>
    <b>Mockup Real Pages (Will be replaced w/ dynamic tables in Final Draft 4)</b>
    <li><a href="/Models">Models</a></li>
    <li><a href="/Trimlines">Trimlines</a></li>
    <li><a href="/Colors">Colors</a></li>
    <li><a href="/Parts">Parts</a></li>
    <li><a href="/PartRequirements">Part requirements</a></li>
    <li><a href="/Orders">Orders</a></li>
</ul>
