<p>Subpages:</p>
<br/>
<ul>
    <b>Draft 4 New Stuff:</b>
    <li><a href="/CRUDDemo">Dynamic CRUD Table Demo</a></li>
    <li><a href="/Search">Search</a></li>
    <br>
    <br>
    <b>Mockup Real Pages (Will be replaced w/ dynamic tables in Final Draft 4)</b>
    <li><a href="/ModelsTable">Models</a></li>
    <li><a href="/TrimlinesTable">Trimlines</a></li>
    <li><a href="/ColorsTable">Colors</a></li>
    <li><a href="/PartsTable">Parts</a></li>
    <li><a href="/PartRequirementsTable">Part requirements</a></li>
    <li><a href="/OrdersTable">Orders</a></li>
</ul>
