<br/>
<p>Models</p>
<br/>
<p>Search: <input type="text"></input></p>
<br/>
<br/>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Base Trimline</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>Civic</td>
            <td>
                <select>
                  <option value="0">Trim 1</option>
                  <option value="1">Trim 2</option>
                </select>
            </td>
            <td><button type="button" onclick="editPlaceholder();">Edit</button></td>
            <td><button type="button" onclick="deletePlaceholder();">Delete</button></td>
        </tr>
    </tbody>
</table>
</br>
</br>
<button type="button" onclick="savePlaceholder();">Save Changes</button>
<button type="button" onclick="addPlaceholder();">Add Item</button>
