<br/>
<p>Orders</p>
<br/>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Customer</td>
            <td>Trimline</td>
            <td>Color</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>Ronald McDonald</td>
            <td>
                <select>
                  <option value="0">Trim 1</option>
                  <option value="1">Trim 2</option>
                </select>
            </td>
            <td>
                <select>
                  <option value="0">Red</option>
                  <option value="1">Blue</option>
                </select>
            </td>
            <td><button type="button" onclick="editPlaceholder();">Edit</button></td>
            <td><button type="button" onclick="deletePlaceholder();">Delete</button></td>
        </tr>
    </tbody>
</table>
</br>
</br>
<button type="button" onclick="savePlaceholder();">Save Changes</button>
