<br/>
<p>Part Requirements</p>
<br/>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Associated Model</td>
            <td>Associated Trimeline</td>
            <td>Associated Part</td>
            <td>Quantity</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>
                <select>
                  <option value="0">Model 1</option>
                  <option value="1">Civic</option>
                </select>
            </td>
            <td>
                <select>
                  <option value="0">Trim 1</option>
                  <option value="1">Trim 2</option>
                </select>
            </td>
            <td>
                <select>
                  <option value="0">Tires</option>
                  <option value="1">Seatbelt</option>
                </select>
            </td>
            <td>2</td>
            <td><button type="button" onclick="editPlaceholder();">Edit</button></td>
            <td><button type="button" onclick="deletePlaceholder();">Delete</button></td>
        </tr>
    </tbody>
</table>
</br>
</br>
<button type="button" onclick="savePlaceholder();">Save Changes</button>
<button type="button" onclick="addPlaceholder();">Add Item</button>
