<br/>
<p>Parts</p>
<br/>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Quantity on hand</td>
            <td>Cost</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>Tire</td>
            <td>200</td>
            <td>$ 1401</td>
            <td><button type="button" onclick="editPlaceholder();">Edit</button></td>
            <td><button type="button" onclick="deletePlaceholder();">Delete</button></td>
        </tr>
    </tbody>
</table>
</br>
</br>
<button type="button" onclick="savePlaceholder();">Save Changes</button>
<button type="button" onclick="addPlaceholder();">Add Item</button>
