<input type="text" id="searchString"><br/>
<button type="button" id="searchButton">GO!</button>
<table id="searchTable">
    <thead>
        <tr>
            <td></td>
        </tr>
    </thead>
</table>
<script src="/public/search.js"></script>
