<form>
  <input type="text" id="searchString"><br/>
  <button type="button" id="searchButton">Go!</button>
</form>
<br>
<br>

<b>In Orders</b>
<br>
<table id="searchOrdersTable">
    <thead>
        <tr>
            <td><i>Customer Name</i></td>
            <td>Model</td>
            <td>Trimline</td>
            <td>Color</td>
            <td>Part Cost</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<br>

<b>In Parts</b>
<br>
<table id="searchPartsTable">
    <thead>
        <tr>
            <td><i>Part Name</i></td>
            <td>Quantity On Hand</td>
            <td>Cost</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<br>

<b>In Trimlines</b>
<br>
<table id="searchTrimlinesTable">
    <thead>
        <tr>
            <td><i>Trimline Name</i></td>
            <td>Model</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<br>

<b>In Models</b>
<br>
<table id="searchModelsTable">
    <thead>
        <tr>
            <td><i>Color Name</i></td>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script src="/public/search.js"></script>

<ul>
    <li><a href="/ModelsTable">Models</a></li>
    <li><a href="/TrimlinesTable">Trimlines</a></li>
    <li><a href="/ColorsTable">Colors</a></li>
    <li><a href="/PartsTable">Parts</a></li>
    <li><a href="/PartRequirementsTable">Part Requirements</a></li>
    <li><a href="/OrdersTable">Orders</a></li>
    <li><a href="/SearchPage">Search</a></li>
</ul>
