<form>
  <input type="text" id="searchString"><br/>
  Search in Parts <input type="checkbox" name="tables" value="Parts"><br/>
  Search in Orders <input type="checkbox" name="tables" value="Orders"><br/>
  Search in Trimlines <input type="checkbox" name="tables" value="Trimlines"><br/>
  Search in Models<input type="checkbox" name="tables" value="Models"></br>
  <button type="button" id="searchButton">Submit!</button>
</form>

<script src="/public/search.js"></script>
