<br/>
<p>{{tableTitle}}</p>
<br/>
<table class="editable-table">
</table>
</br>
</br>
<button type="button" class="table-btn-save">Commit Changes</button>
<button type="button" class="table-btn-add">Add Item</button>
<button type="button" class="table-btn-reload">Reset Everything</button>
<br>
<br>
<i>[Changes are not saved until you commit them]</i>
<script src="/public/tables.js"></script>
