<br/>
<p>{{tableTitle}}</p>
<br/>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Age</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>Jeff</td>
            <td>22</td>
            <td><button type="button" class="table-row-btn-start-edit">Edit</button></td>
            <td><button type="button" class="table-row-btn-delete">Delete</button></td>
        </tr>
    </tbody>
</table>
</br>
</br>
<button type="button" class="table-btn-save">Save Changes</button>
<button type="button" class="table-btn-add">Add Item</button>
<script src="/public/tables.js"></script>
