<table id="editable-table">
</table>
</br>
</br>
<button type="button" class="table-btn-save">Commit Changes</button>
<button type="button" class="table-btn-add">Add Item</button>
<button type="button" class="table-btn-reload">Reset Changes</button>
<br>
<br>
<i>
    <p>Click fields to edit</p>
    <p>[Many bugs still present]</p>
</i>
<script src="/public/tables_header.js"></script>
<script src="/public/tablemeta/{{tableMetaFile}}"></script>
<script src="/public/tables.js"></script>
