<table class="editable-table">
</table>
</br>
</br>
<button type="button" class="table-btn-save">Commit Changes</button>
<button type="button" class="table-btn-add">Add Item</button>
<button type="button" class="table-btn-reload">Reset Everything</button>
<br>
<br>
<i>
    <p>[Changes are not saved until you commit them]</p>
    <p>Planned Draft 6 Features:</p>
    <ul>
        <li>Delete commits working</li>
        <li>Delete button will change to undelete</li>
        <li>Foreign keys as dropdown menus</li>
    </ul>
</i>
<script src="/public/tablemeta/{{tableMetaFile}}"></script>
<script src="/public/tables.js"></script>
