<br/>
<p>Trimlines</p>
<br/>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Model</td>
            <td>Default Color</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>Trim 1</td>
            <td>
                <select>
                  <option value="0">Model 1</option>
                  <option value="1">Honda</option>
                </select>
            </td>
            <td>
                <select>
                  <option value="0">Red</option>
                  <option value="1">Green</option>
                  <option value="1">Blue</option>
                </select>
            </td>
            <td><button type="button" onclick="editPlaceholder();">Edit</button></td>
            <td><button type="button" onclick="deletePlaceholder();">Delete</button></td>
        </tr>
    </tbody>
</table>
</br>
</br>
<button type="button" onclick="savePlaceholder();">Save Changes</button>
<button type="button" onclick="addPlaceholder();">Add Item</button>
