<!doctype html>
<html>
<head>
	<script src="/public/jquery-3.4.1.min.js"></script>
	<link rel="stylesheet" href="/public/tables.css">
	<title>Car Shop</title>
</head>
<body>
	<b>CAR SHOP</b>
	<br/>
	<br/>
	{{{body}}}
	<br/>
	<br/>
	<i>CS340 Group Project - Created by Mike Andrews and Ian Collier</i>
</body>
</html>
