<!doctype html>
<html>
<head>
	<script src="/public/lib/jquery-3.4.1.min.js"></script>
	<link rel="stylesheet" href="/public/tables.css">
	<link rel="stylesheet" href="/public/main.css">
	<link rel="stylesheet" href="/public/navbar.css">
	<title>Car Shop</title>
</head>
<body>
	<div id="loadingOverlay"></div>
	<div id="mainContent">
		<b class="siteTitle-container">CAR SHOP</b>
		<br/>
		{{> navbar}}
		<br/>
		<p>{{pageTitle}}</p>
		<br/>
		{{{body}}}
		<br/>
		<br/>
		<i>CS340 Group Project - Created by Mike Andrews and Ian Collier</i>
	</div>
</body>
</html>
